smartapi-python
logzero
pyotp
fastapi
uvicorn[standard]
sqlalchemy[asyncio]
aiosqlite
pandas
numpy
pydantic-settings
python-jose[cryptography]
httpx
websockets
websocket-client
python-telegram-bot
aiosmtplib
redis
python-multipart
jinja2
